.section {
  &__hero {
    padding-top: 61px;

    @media (max-width: $breakpoint1200) {
      padding-top: 30px;
    }


  }
}

.container {
}

.hero {

  display: flex;
  align-items: center;
  gap: 60px;
  @media (max-width: $breakpoint1200) {
    gap: 30px;
  }

  @media (max-width: $breakpoint768) {
    flex-wrap: wrap;
  }

  &__item {
    &.left__item {
      flex: 0 1 420px;

      @media (max-width: $breakpoint1200) {
        flex: 0 1 48%;
      }

      @media (max-width: $breakpoint768) {
        flex: 0 1 100%;
      }
    }

    &.right__item {
      display: flex;
      justify-content: flex-end;

      @media (max-width: $breakpoint1200) {
        flex: 0 1 48%;
      }

      @media (max-width: $breakpoint768) {
        flex: 0 1 100%;
      }
    }

    .hero__img {
      max-width: 100%;
      width: 100%;
      height: auto;

      @media (max-width: $breakpoint1200) {
        max-width: 450px;
        display: flex;
        margin: 0 auto;

      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: $primary;

    @media (max-width: $breakpoint1200) {
      font-size: 48px;
    }
    @media (max-width: $breakpoint992) {
      font-size: 34px;
    }

    span {
      color: $secondary;
    }

  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: $primaryLight;
    margin-top: 16px;

    @media (max-width: $breakpoint1200) {
      font-size: 16px;
      margin-top: 5px;
    }
    @media (max-width: $breakpoint992) {
      font-size: 14px;
    }
  }

  &__form {
    width: 100%;
    margin-top: 32px;

    @media (max-width: $breakpoint1200) {
      margin-top: 14px;
    }
  }

  &__input {
    padding: 14px 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: $primary;
    display: flex;
    width: 100%;
    border: 1px solid #DFE8FA;
    border-radius: 15px;
    outline: none;

    @media (max-width: $breakpoint1200) {}
    font-size: 16px;
    padding: 10px 18px;

    @media (max-width: $breakpoint992) {
      padding: 6px 12px;
      font-size: 14px;
    }

    &:focus {
      border: 1px solid $primary;
    }

    &::placeholder {
      color: $primaryLight;
    }
  }
}

.form {
  &__btns {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 16px;

    @media (max-width: $breakpoint1200) {
      margin-top: 12px;
    }

    @media (max-width: $breakpoint480) {
      gap: 15px;
    }

    .form__btn {
      display: flex;
    }
  }
}

.btn {
  &__text {
    max-width: 140px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 146%;
    color: #BBC0C7;

    @media (max-width: $breakpoint1200) {
      font-size: 12px;
    }

    @media (max-width: $breakpoint992) {
      max-width: 100%;
      font-size: 10px;
    }
  }
}

.rating {
  margin-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: $primaryLight;
  gap: 12px;
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint1200) {
    margin-top: 16px;
  }

  @media (max-width: $breakpoint992) {
    gap: 6px;
    font-size: 12px;

    img {
      max-width: 100px;
    }
  }

  @media (max-width: $breakpoint480) {
  flex-direction: column;
  }
}

.logos {
  display: flex;
  gap: 38px;
  margin-top: 17px;
  align-items: center;

  @media (max-width: $breakpoint992) {
    gap: 16px;
  }
  @media (max-width: $breakpoint480) {
    flex-wrap: wrap;
    justify-content: center;
  }
}